<%- include("partials/header") %>
<h1> This is my Opinions</h1>

<% post.forEach(function(post){ %>
   <li>
    <%= post.title %> - <strong><%=post.author %></strong>
    </li>
<% }) %>
<%- include("partials/footer") %>